<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"> </ion-back-button>
    </ion-buttons>
    <ion-title>Banderas 1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item lines="none">
      <h1 class="centered">
        <strong>
          {{ correctCountry.name.es || correctCountry.name.en }}
        </strong>
      </h1>
    </ion-item>
    <ng-content *ngFor="let option of options">
      <ion-item-divider />
      <ion-item (click)="selectOption(image, option)">
        <div class="column">
          <img
            src="../../../assets/flags/{{ option.cca2 }}.svg"
            alt="flag of {{ option.name.es }}"
            #image
          />
          <p>
            {{ option.capital.es || option.capital.en || "Sin capital" }}
            <!-- &rarr;
            {{ option.percentage }}% -->
          </p>
        </div>
      </ion-item>
    </ng-content>
  </ion-list>
</ion-content>
