#flag-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0.75;
  width: 200px;
  height: 130px;
  display: none;
}

#flag-overlay-icon {
  width: 50px;
  height: 50px;
}
#flag-overlay.success #flag-overlay-icon {
  content: url(../assets/icon/check.png);
}
#flag-overlay.fail #flag-overlay-icon {
  content: url(../assets/icon/boton-x.png);
}
