<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"> </ion-back-button>
    </ion-buttons>
    <ion-title>Capitales 1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item class="no-bg" lines="none">
      <ion-icon
        name="airplane"
        slot="end"
        name="flag"
        *ngIf="!hintShown"
        (click)="toggleHint()"
      ></ion-icon>
      <ion-avatar slot="end" *ngIf="hintShown" (click)="toggleHint()">
        <img src="../../../assets/flags/{{ correctCountry.cca2 }}.svg" />
      </ion-avatar>

      <h1 class="centered">
        <strong>
          {{ correctCountry.name.es || correctCountry.name.en }}
        </strong>
      </h1>
    </ion-item>
    <ng-content *ngFor="let option of options">
      <ion-item-divider />
      <ion-item (click)="selectOption(p, option)">
        <div class="column">
          <p #p>
            {{ option.capital.es || option.capital.en || "Sin capital" }}
            <!-- &rarr;
            {{ option.percentage }}% -->
          </p>
          <!-- <img
            src="../../../assets/flags/{{ option.cca2 }}.svg"
            alt="flag of {{ option.name.es }}"
            #image
          /> -->
        </div>
      </ion-item>
    </ng-content>
  </ion-list>
</ion-content>
