<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item-group *ngFor="let item of countries | keyvalue">
        <ion-item-divider color="light" sticky>
          <ion-checkbox
            [(ngModel)]="continentsState[item.key].checked"
            [indeterminate]="continentsState[item.key].indeterminateState"
            (click)="toggleContinent(item.key)"
            labelPlacement="end"
          >
            <h1>
              {{ item.key }} ({{ continentsState[item.key].totalSelected }})
            </h1>
          </ion-checkbox>
        </ion-item-divider>
        <ion-item *ngFor="let country of item.value | keyvalue">
          <ion-toggle
            labelPlacement="end"
            [checked]="country.value.selected"
            (ionChange)="
              toggleCountry(item.key, country.key, $event.detail.checked)
            "
          >
            {{ country.value.name.es }}
          </ion-toggle>
          <div
            slot="end"
            style="
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 12px;
              width: 80px;
              height: 100%;
            "
          >
            {{ country.value.percentage }}%
            <div
              style="
                background-color: greenyellow;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
              "
              [ngStyle]="{ width: country.value.percentage + '%' }"
            ></div>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
